#####
# Compiled sources
#####
*.class
target/
# It's there due to run with exploaded WAR file
src/main/webapp/WEB-INF/classes/



#####
# Some of the eclipse folders and files
#####
.classpath
.metadata/
.project
.settings/
Servers/



#####
# IntelliJ
#####
.idea/
*.iml



#####
# Spring
#####
.springBeans


db-backups/
full-backups/
migration/

