#####
# Compiled sources
#####
*.class
target/
# It's there due to run with exploaded WAR file
src/main/webapp/WEB-INF/classes/



#####
# Some of the eclipse folders and files
#####
.metadata/
Servers/



#####
# IntelliJ
#####
.idea/
*.iml



#####
# Spring
#####
.springBeans
